<h1>Forgot Password</h1>
<% if(message.length > 0) { %>
    <p style="color:red"><%= message %></p>
<% } %>
<form action="/confirm-password" method="post">
    New Password : <input type="password" name="password"/></br>
    Confirm Password : <input type="password" name="confirm_password"/></br>
    <input type="hidden" name="code" value="<%= user.id %>">
    <input type="submit" name="send" value="Send"/>
</form>