<h1>Daftar</h1>
<% if(message.length > 0) { %>
    <p style="color:red"><%= message %></p>
<% } %>
<form action="/signup" method="post">
    Email : <input type="text" name="email"/></br>
    Password : <input type="password" name="password"/></br>
    <input type="submit" name="daftar" value="Daftar"/>
</form>